body{
  color: #40514E;
  font-family: 'Scheherazade New', serif;
  margin: 0;
  text-align: center;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}
h2{
  color: #5D54A4;
  font-family: 'Nunito', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 10px;
}
h3{
  color: #5D54A4;
}
hr{
  background-color: white;
  border-color: #5D54A4;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  width : 5%;
}
p{
  line-height: 2;
}
a{
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #FDB9FC;
}
.cloud1{
  position: absolute;
  right:25%;
  top: 9%;
}
.cloud2{
  bottom: 350px;
  left: 20%;
  position: absolute;
}
.Education{
  background-color: #C996CC;
  font-family: 'Areil' ,sans-serif;
  font-size: 1.1rem;
  padding: 100px 0 100px 0;
  text-align: center;
}
.top-container{
  background-color: #C996CC;
  color: #2A3D66;
  display: block;
  padding-top: 200px;
  position: relative;
}
.rainbow{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.MyPhoto{
  height: 200px;
  margin-top: 50px;
  width: 200px;
}
.profile{
  font-family: 'Areil' ,sans-serif;
  margin: 10px auto 10px auto;
  text-align: center;
  width: 50%;
}
.table{
  border-spacing: 10px;
  border-collapse: separate;
  margin: auto;
}
.skills1{
  font-family: 'Areil' ,sans-serif;
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
}
.skills2{
  font-family: 'Areil' ,sans-serif;
  width: 50%;
  margin:100px auto 100px auto;
  text-align: right;
}
.programming{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.Website{
  width:25%;
  float: right;
  margin-left: 30px;
}
.middle-container{
  position: relative;
  margin: 100px 0;
}
.contact-me{
  font-family: 'Areil' ,sans-serif;
}
.bottom-container{
  margin: 100px auto 0 auto;
  padding: 50px 0 50px 0;
  background-color: #C996CC;
  font-family: 'Areil' ,sans-serif;
  font-size: 1rem;
}
.copyright{
  color: #FDB9FC;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Areil' ,sans-serif;;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   margin-top: 50px;
   background-color: #C996CC;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
